.feature {
  height: 400px;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  @media screen and (max-width: 768px) {
    font-size: 14px;
    flex-direction: column-reverse;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 10px;
    }
  }
  &__image {
    position: relative;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    width: 50%;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        to top,
        rgba(26, 40, 120, 0.5),
        rgba(10, 143, 196, 0.5)
      );
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
