.textBlock {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 24px;
  background-color: rgb(10, 143, 196);
}
